.ul {
  list-style: none;
  text-align: center;
}

.input {
  text-align: center;
  width: 200px;
  height: 2rem;
  border-radius: 25px;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-right: 40px;
  font-size: 22px;
}

.button {
  text-decoration: none;
  color: black;
  background-color: rgb(204, 230, 255);
  width: 120px;
  height: 40px;
  margin: auto;
  border-radius: 50px;
  font-size: 18px;
  border: none;
  margin-right: 40px;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.5);
}
.button:hover {
  transition: 0.3s;
  background-color: rgb(138, 157, 179);
  color: white;
  cursor: pointer;
}
