.header {
  height: 6rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(180, 206, 235);
  color: #000000;
  padding: 0 5%;
  margin-bottom: 30px;
}
.header ul {
  list-style: none;
  display: flex;
}
.header li {
  padding-left: 2rem;
}
.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
}
.header a:hover {
  color: #ffffff;
  transition: 0.2s;
}
.logo{
  width: 50px;
  position: relative;
  right: 20px;
}
.title{
  position: relative;
  right: 20px;
}